@using ShiftGenius.Rules;
@using ShiftGeniusLibDB;
@using System.Security.Claims;
@using ShiftGeniusLibDB.Models;

<div>
    <div style="color:#47525e;text-align:center">
        <h1>Welcome @User.Identity.Name</h1>
        <h2>Your Schedule</h2>
    </div>
    <div style="color:#47525e;text-align:center">
        <h3>Organization Rules</h3>
        <ul>
            @foreach (ScheduleRule rule in Basic_Functions.GetRulesForOrganization(Basic_Functions.getEmployeeByID(int.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)).OrganizationId.Value))
            {
                <li>
                    @RuleBuilder.GetRuleType(rule)
                    <!-- View, Edit, Delete buttons -->
                    <a class="btn btn-warning" asp-controller="Manager" asp-action="@("View" + RuleBuilder.GetRuleType(rule))" data-id="@rule.ScheduleRuleId">View</a>
                    <a class="btn btn-warning" asp-controller="Manager" asp-action="@("Edit" + RuleBuilder.GetRuleType(rule))" data-id="@rule.ScheduleRuleId">Edit</a>
                    <form method="post" action="@Url.Action("DeleteRuleConfirmed", "Manager")" onsubmit="return confirm('Are you sure you want to delete this rule?');">
                        <input type="hidden" name="ruleId" value="@rule.ScheduleRuleId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            }
        </ul>
        <a class="btn btn-success" asp-controller="Manager" asp-action="AddRule">Add</a>
        <a class="btn btn-secondary" asp-controller="Manager" asp-action="Index">Back</a>
    </div>
</div>
