@using ShiftGeniusLibDB.Aggregate;
@using ShiftGeniusLibDB.Models;
@using ShiftGeniusLibDB;
@using System.Security.Claims;
@using ShiftGenius.Rules;
@using Newtonsoft.Json

@{
    var userIdClaim = User.FindFirst(ClaimTypes.NameIdentifier);
    int userId = int.Parse(userIdClaim.Value);
    int organizationId = Basic_Functions.getEmployeeByID(userId).OrganizationId.Value;

    Schedule schedule = new Schedule(Basic_Functions.getEmployeeByID(userId).OrganizationId.Value);

    RuleBuilder ruleBuilder = new RuleBuilder(organizationId, schedule); 
    DefaultRule rule = ruleBuilder.BuildRules();
    schedule = RuleBuilder.TryGenerateValidSchedule(schedule, rule);

    var groupedByDayOfWeek = schedule.ScheduleDays 
                              .GroupBy(sd => sd.Day.DayOfWeek)
                              .OrderBy(g => (int)g.Key);

    string serializedSchedule = JsonConvert.SerializeObject(schedule);
}

<div>
    <div style="color:#47525e;text-align:center">
        <h1>Welcome @User.Identity.Name</h1>
        <h3>Schedule for the week of @schedule.StartDate.ToShortDateString() to @schedule.EndDate.ToShortDateString()</h3> 
    </div>
    <form method="post" asp-controller="Manager" asp-action="SaveSchedule">
        <input type="hidden" name="SerializedSchedule" value="@serializedSchedule" />
    <div class="d-flex justify-content-center align-items-center" style="height:60vh;">

        <div class="container text-white" style="background-color: #343F4B; padding: 30px; height:40vh;">
            <div class="row" style="height:85%">
                @foreach (var group in groupedByDayOfWeek)
                {
                    <div class="col-md-1-7">
                        <div class="card text-center card-full-height" style="background-color: #969FAA;">
                            <div class="card-header" style="color:#122235; font-size:20px">
                                @group.Key
                            </div>
                            <div class="card-body d-flex justify-content-center align-items-center employee-list" style="color:#56606c;font-size:16px;font-weight:lighter">
                                @foreach (var scheduleDay in group)
                                {
                                    foreach (var employeeScheduled in scheduleDay.EmployeeScheduleds)
                                    {
                                        <div class="employee-card">
                                            @Basic_Functions.getEmployeeNameByID(employeeScheduled.EmployeeScheduledId)
                                            <br />
                                            @employeeScheduled.StartTime.ToString("hh:mm tt") - @employeeScheduled.EndTime.ToString("hh:mm tt")
                                            <br />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
        <div class="text-center mt-8">
            <button type="submit" class="btn btn-success" style="margin-right:50px">Confirm</button>
            <a class="btn btn-primary" style="margin-right:50px">Edit</a>
            <a class="btn btn-primary" style="margin-right:50px" asp-controller="Manager" asp-action="ScheduleGenerator">Regenerate</a>
            <a class="btn btn-danger" asp-controller="Manager" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>
